* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#nav__blog {
  background-color: #161C17 !important;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 60px;
  padding: 18px;
}
#nav__blog .nav__wrap {
  display: flex;
  width: 98%;
  padding: 20px;
  flex-direction: row;
}
#nav__blog .nav__wrap .nav__section {
  width: 30% !important;
  justify-content: flex-end;
  flex-grow: 0;
  padding: 20px;
}
#nav__blog .nav__wrap .nav__section .nav__section-1 {
  gap: 18px;
  color: #000;
  background-color: rgba(0, 15, 30, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  padding: 5px;
}
#nav__blog .nav__wrap .nav__section .nav__section-1 a {
  color: #fff;
  font-size: 17px;
}
#nav__blog .logo__principal {
  width: 208px;
  height: 36px;
}
#nav__blog .logo__principal img {
  width: 100%;
  height: 36px;
  object-fit: cover;
}

.container__red {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  margin: 70px auto;
  gap: 10px;
}
.container__red .nombres {
  height: 380px;
}
.container__red .nombres .pilotos__1 {
  height: 320px;
  width: 200px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 0;
}
.container__red .nombres .pilotos__1 .pilotos {
  width: 100%;
  height: 320px;
}
.container__red .nombres .pilotos__1 .pilotos .pilotos__3 {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}
.container__red .nombres .pilotos__1 .pilotos .pilotos__3 .foto__ser {
  margin-top: 30px;
}
.container__red .nombres .pilotos__1 .pilotos .pilotos__3 .texto__max {
  padding-left: 10px;
}
.container__red .nombres .pilotos__1 .pilotos .pilotos__3 .texto__max .txt__2 {
  margin-top: 50px;
}
.container__red .nombres .pilotos__1 .pilotos .pilotos__3 .texto__max h3 {
  color: #161C17;
}
.container__red .nombres .pilotos__1 .pilotos h2 {
  font-size: 1.2rem;
}
.container__red .nombres .pilotos__1 .pilotos h2::before {
  content: "/";
}
.container__red .nombres .margin__bottom {
  margin-bottom: 15px;
}
.container__red .nombres .escuderia {
  width: 418px;
  height: 340px;
}
.container__red .nombres .escuderia .left {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}
.container__red .nombres .escuderia .left dd {
  margin-bottom: 0;
  font-size: 14px;
}
.container__red .wrap {
  width: 80%;
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin: 0 auto;
}
.container__red .wrap .caja {
  width: 61%;
  height: 800px;
  background-color: #ffffff;
}
.container__red .wrap .caja .foto {
  width: 100%;
}
.container__red .wrap .caja .foto span {
  text-align: right;
  font-size: 17px;
  display: block;
}
.container__red .wrap .caja .red__bull {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.container__red .wrap .caja .red__bull .img {
  width: 100%;
  height: auto;
}
.container__red .wrap .caja .red__bull .blue__red {
  width: 115px;
  display: flex;
  align-items: center;
  margin-left: 5px;
  flex-direction: row;
  border: 2px solid #161C17;
  border-radius: 10px;
}
.container__red .wrap .caja .red__bull .blue__red a {
  margin: 10px;
  text-align: center;
}
.container__red .wrap .caja .red__bull .blue__red a i {
  font-size: 19px;
  color: #161C17;
}
.container__red .wrap .caja__2 {
  width: 39%;
  height: 800px;
  background-color: #EEEEEE;
}
.container__red .wrap .caja__2 .caja__portada {
  padding: 15px;
  height: 637px;
}
.container__red .wrap .caja__2 .caja__portada .horarios {
  width: 100%;
  height: 280px;
}
.container__red .wrap .caja__2 .caja__portada .horarios .caja__g {
  height: 63px;
}
.container__red .wrap .caja__2 .caja__portada .horarios .caja__g .item {
  text-align: center;
}
.container__red .wrap .caja__2 .caja__portada .horarios .caja__g .item strong {
  padding: 1px;
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.container__red .wrap .caja__2 .caja__portada .horarios .caja__g h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "Roboto Condensed", "Roboto", Arial;
  font-weight: 400;
  margin-bottom: 5px;
  border-bottom: 3px solid #ff9e1b;
  padding-bottom: 5px;
}
.container__red .wrap .caja__2 .caja__portada .horarios h2 {
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 15px;
}
.container__red .wrap .caja__2 .caja__portada .text-center {
  width: 100%;
  height: 120px;
}
.container__red .wrap .caja__2 .caja__portada .text-center .flecha {
  width: 100%;
}
.container__red .wrap .caja__2 .caja__portada .text-center .flecha h3 {
  margin-top: 10px;
}
.container__red .wrap .caja__2 .caja__portada .text-center .flecha span {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
}
.container__red .wrap .caja__2 .caja__portada h1 {
  font-size: 1.2rem;
  text-align: center;
}
.container__red .wrap .caja__2 .caja__portada h1::before {
  content: "/";
}

body {
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
