$section: (
    bg-section: #aaa,
    c-section: #161C17,
    cs-section: #ffffff,
    txt-section: 14px,
    txt-2: 20px,
    bg-aside: #EEEEEE,
    ct-section: #761,
    h-pricipal: #999,
    h-opacity: 0.8,
    i-font: 19px,
    txt-h2: 1.2rem,
);